*,
*::after,
*::before{
    border: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    color: #fff;
    /* cursor: none !important; */
    text-decoration: none;
  
}

html{
    font-size: 62.5%;
}
body{
    background-color: #543DE0;
    min-height: 100vh;
    overflow-x: hidden;
    font-size: 1.8rem;
    font-family: 'Airbnb Cereal App', sans-serif;  
    font-weight: 600;
    color: #fff;
    line-height: 1.36;
   -webkit-text-size-adjust: 100%;
   letter-spacing: 0;
    word-break: normal;
    tab-size: 4;
    -webkit-font-smoothing: antialiased;
    user-select: none;
   -webkit-scroll-behaviour:smooth !important;
   transition: var(--transition);
}

 a{
     color: currentColor;
 }

 .header {
    box-shadow: 0px 1px 18px 1px #00000061;
    height: fit-content;
    width: 100%;
    display: flex;
    background:#543DE0;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0rem;
    left: 0;
    padding:3rem 7rem 3rem 7rem !important;
z-index: 10;
/* opacity: 0; 
transform: translateY(-100px);   */
max-width: 100vw;
}

.work-page-title{
    text-align: center;
    width: 100%;
    margin: 4.5rem 0;
}

.container--inner h1{
    font-size: 5.4rem;
    color: #40BE88 ;
    font-weight: bolder;
    margin: 0 auto;
    width: 100%;
 
}

.header .left{
    position: relative;
}
.header .left .inc{
    position: absolute;
    top: .8rem;
    left:102%;
    font-size: .8rem;
    font-weight: 100;
}

.header .Logo-name{
    font-size: 3.2rem;
    font-weight: 900;
}

.header .Logo-name img{
    width: 4rem;
    transform: translate(.6rem,.8rem);
}



.header .right{
    display: flex;
    align-items: center;
   }
       #color-switch svg{
           width: 2.4rem;
           max-width: 4rem;
           height: auto;
           fill: white;
           margin-right:1.8rem;
           position: relative;
           z-index: -1;
       }
   
       #color-switch{
        position: relative;
        z-index: 6;
        display: inline-block;
       
       }

       .header .center{
        transform: translateX(-1rem);
    }
    
    .header .center span{
        font-size: 1.55rem;
        cursor: pointer;
    }
    
    .header .center span:not(:last-child){
        margin-right: 1.8rem;
    }


    /* container */

    .container--inner{
        margin-top: 18rem;
        width: 100%;
    }


    .container--inner .project{
        padding: 0 2rem 0 2rem;
        display: flex;
        width: 100%;
        margin-bottom: 12rem;
        align-items: center;
        justify-content: center;
    }

    .container--inner .project .project-picture{
        max-width: 50%;
        width: 50%;
        display: flex;
        align-items: end;
        justify-content: flex-end;
    }
    .container--inner .project img{
        max-width: 100%;
        object-fit: cover;

    }

    .container--inner .project .project-info{
        width: 50%;
        padding: 2rem;
    }

    .container--inner .project .project-type{
        opacity: .8;
    }
    .container--inner .project h2{
        font-weight: bolder;
        width: 80%;
        font-size: 4rem;
    }
    .container--inner .project .project-title{
        margin: 2rem 0;
    }

    .container--inner .project .project-action{
        margin-top: 4.5rem;
    }
    .container--inner .project .action-btn{
        padding: 2rem 4rem;
        background: white;
        color: #000;
        border-radius: .5rem;
        cursor: pointer;
        text-align: center;
        transition: .3s ease-in-out;
        display: inline-block;
        opacity: .9;
       
    }

    .container--inner .project .action-btn:hover{
         opacity: 1;
         transform: scale(.95);
    }
       

    .container--inner .project .project-maelezo{
        width: 80%;
        font-weight: normal;
    }
       button{
        padding: 1.2rem 3.5rem;
        border-radius: 10rem;
        background: #40BE88; 
        font-weight: 800; 
        font-size: 1.3rem;  
    }
    
    .members-container .flex-line{
        display: flex;
        align-items: center;
        justify-content: center;
       
        
    }

    .member{
        background: rgb(214, 115, 28);
        flex: 1;
        padding: 2rem;
        display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    border-radius: .5rem;
    margin: 3rem;
    transition: transform .28s ease-in-out;
       
    }

    .member:hover{
        transform: scale(.95);
        margin-right: 2rem;
    }

    .member .member-picture{
        width: 100%;
        height: 28rem;
background-size: cover;
background-repeat: no-repeat;
background-position: center center;
margin-bottom: 2rem;
align-self: self-end;
border-radius: .5rem;
    }

    .info span{
        width: 60%;
        font-weight: bold;
        opacity: .8;
        font-size: 1.6rem;
    }

    .info h3{
        font-weight: bolder;
    }


    .centered{
        height: auto;
        padding: 2rem;
        display: inline-block;
        margin:0 auto;
        text-align: center;
        width: 50%;
    }

    .align{
        text-align: center;
    }

    .centered span{
        opacity: .88;
    }

    .centered .angavu-zaidi{
        opacity: 1;
    }

    form{
        padding: 5rem 0;
        box-shadow: 1px 1px 10px 2px #00000017;
    }

    form input{
display: inline-block;
margin-bottom: 2rem;
padding: .8rem 3rem;
color: black;
font-size: 1.8rem;
border-radius: .3rem;
background: #ffffffeb;
    }

    form button{
        background: rgb(214, 115, 28);
        cursor: pointer;
        transition: transform .26s ease, opacity .26s ease;
        padding: 3rem 11rem;
    border-radius: 0;
    }
    form button:hover{
        transform: scale(.9);
        opacity: .9;
    }
    form label{
        margin-bottom: .5rem;
        display: inline-block;
    }


    .menuMobile{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 30000;
    background: rgba(255, 255, 255, 0.573);
    backdrop-filter: blur(10px);
    
    }